<div class="text-center row">
   <div class="col-sm-3">{{ticket.student}}</div>
   <div class="col-sm-1">|</div>
   <div class="col-sm-1">{{ticket.location}}</div>
   <div class="col-sm-1">|</div>
   <div class="col-sm-6">{{ticket.issue}}</div>
</div>
